.categories{
    height: 30rem;
}


.category_head{
    text-align: center;
    padding: 3rem 0;
    position: relative;
}

.category_head_img{
    position: absolute;
    top: 2rem;
    right: 3rem;
}

.category_body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    padding-top: 2rem;
}