.navbar{
    height: 5rem;
    width: 100vw;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    position: fixed;
    top: 0;
    background: var(--primary-color); 
    z-index: 999;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.logo .logo_icon{
    margin-top: 1rem;
}


.logo .logo_text{
    font-size: 2rem;
}

.logo .logo_text span{
    color:#eee;
    font-size: 3rem;
    padding: 0.1rem 0.1rem 0;
}

.nav_menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav_menu ul li:nth-child(3){
    position: relative;
}

 .arrow{
    position: absolute;
    top: 0.2rem;
    right: -1rem;
} 

.nav_cta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav_cta .login{
    background: #eee;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
   
}

.nav_icons{
    display: none;
}

@media screen and (max-width:1024px) {
   
    .nav_cta{
        gap: 0.5rem;
        font-size: 0.7rem;
        margin-right: 1.5rem;
    }

    .mobile_nav_menu_hidden, .mobile_nav_menu{
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 18rem;
        z-index: 2;
        background: var(--primary-color);
        display: grid;
        place-items: center;
        font-size: 1.5rem;  
        transition: all 1s ease;      
    }

    .mobile_nav_menu{
        left: 0;
    }

    .mobile_nav_menu ul, .mobile_nav_menu_hidden ul{
        display: flex;
        flex-direction: column;
    }

    .nav_icons{
        display: block;
    } 

    .arrow{
        right: -2rem;
    } 
}

@media screen and (max-width:480px){
   
   .navbar{
    padding: 0 1rem;
   }
    .logo .logo_text{
        font-size: 1rem;
    }
    
    .logo .logo_text span{
        font-size: 1.8rem;
        padding: 0.1rem 0.1rem 0;
    }

    .logo_icon svg{
        margin-top:-0.5rem;
    }
}
