.subscribe{
    height: 15rem;
    margin: 2rem 0;
}

.subscribe_container{
    width: 80%;
    margin: 0 auto;
}

.subscribe_head{
    text-align: center;
    margin-bottom: 2rem;
}

.subscribe_body{
    text-align: center;
    position: relative; 
  
}

.subscribe_body input{
    width: 70%;
    border-radius: 2rem;
    padding: 1.8rem;
    border: none;
    box-shadow: 0px 4px 32px 0px #00000040;
    font-size: 1.2rem;
}

.subscribe_icon{
    background: var(--primary-color);
    padding:0.5rem 2rem;
    position: absolute;
    right: 17%;
    top: 0.7rem;
    border-radius: 2rem; 
    
}

@media screen and (max-width:500px) {
    .subscribe{
        height: fit-content;
    }

    .subscribe_head h2{
        font-size: 1rem;
        padding-bottom: 0.5rem;
    }

    .subscribe_body input{
        width: 100%;
        font-size: 1rem;
        padding: 1.5rem;
    }

    .subscribe_icon{
        padding:0.2rem 1rem;
        right: 4%;
    }
}