.subscribe{
    height: 15rem;
    margin: 2rem 0;
}

.subscribe_container{
    width: 80%;
    margin: 0 auto;
}

.subscribe_head{
    text-align: center;
    margin-bottom: 2rem;
}

.subscribe_body{
    text-align: center;
    position: relative;
  
}

.subscribe_body input{
    width: 70%;
    border-radius: 2rem;
    padding: 1.5rem;
    border: none;
    box-shadow: 0px 4px 32px 0px #00000040;
}

.subscribe_icon{
    background: var(--primary-color);
    padding: 0.5rem 2rem;
    position: absolute;
    right: 10rem;
    top: 0.3rem;
    border-radius: 2rem;
}